<div [formGroup]="about" >

    <div class="form-group"  (ngSubmit)="onSubmit()" >
      <label for="title">Title:</label>
      <input type="text" class="form-control" id="title" placeholder="Enter title" title="title" >
    </div>

      <div class="form-group" (ngSubmit)="onSubmit()">
        <label for="Description">Description</label>
        <textarea class="form-control" id="Description" rows="3" title="desc"></textarea>
      </div>

      
      <div class="form-group">

      <a class="btn btn-primary"  (ngSubmit) = "onSubmit()">Update</a> &nbsp;
      <a class="btn btn-danger" (ngSubmit) = "onDelete()">Delete</a>
    </div>

</div>  