
<div class="container">      
    <div class="form-group" >
        <label for="name">name:</label>
        <input type="text" class="form-control" id="name" title="name" >
    </div>

    <div class="form-group">
      <label for="Info">Info</label>
      <textarea class="form-control" id="Info" rows="3" title="info"></textarea>
    </div> 


    <div class="fake-input" class="form-group">
        <label for="image">image:</label> &nbsp;
        <input type="text" />
        <img src="https://www.pexels.com/photo/brown-hummingbird-selective-focus-photography-1133957/" width=25 />
    </div>

    <div class="form-group">
        <label for="link">link:</label> &nbsp;
        <input id="myTxtbox" type="text" value="http://yahoo.com">

    </div>

    <button type="button" class="btn btn-primary" (click)="onAdd()">Add</button>
  
</div>
