.sidebar{ 
    position: absolute; 
    width: 250px; 
    height: 100%; 
}
.tdLeft {
    border-right: 4px solid #656565;
    border-bottom: 0px; width: 70px;
    padding: 20px;
}
.tdRight{
    border-bottom: 1px solid rgb(97, 94, 94);
    padding: 20px;
}