<div class="container">
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" id="title" placeholder="Enter title" title="title" >
        <br> <button class="btn btn-primary" >Add Title</button> 
    </div>


    <div class="container-fluid">
        <div class="row" style="margin-top: 80px;">        
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <h2 style="margin-bottom: 40px;">Technology Stack</h2>
               <div class="row">
                   
                    <div class="table-2">
                        <table width="100%">
                        <tbody>
                            
                                <tr>
                                    <td class="tdLeft"><strong>Backend</strong></td>
                                    <td class="tdRight"><strong><span></span>JAVA, C++, C#  &nbsp; <button class="btn btn-primary">Add</button>&nbsp; <button class="btn btn-danger">Delete</button></strong></td>
                                </tr>
                              
                                <tr>
                                    <td class="tdLeft"><strong>Frontend</strong></td>
                                    <td class="tdRight"><strong><span></span>Angular JS, React JS &nbsp; <button class="btn btn-primary">Add</button>&nbsp; <button class="btn btn-danger">Delete</button> </strong></td>
                                </tr>
                                <tr>
                                    <td class="tdLeft"><strong>BI</strong></td>
                                    <td class="tdRight"><strong><span></span>Power BI &nbsp; <button class="btn btn-primary">Add</button>&nbsp; <button class="btn btn-danger">Delete</button> </strong></td>
                                </tr>
                                <tr>
                                    <td class="tdLeft"><strong>Tools</strong></td>
                                    <td class="tdRight"><strong><span>Power BI</span> &nbsp; <button class="btn btn-primary">Add</button>&nbsp; <button class="btn btn-danger">Delete</button> </strong></td>
                                </tr>
                      
                        </tbody>
                        </table>
                        </div>
                     
                  
               </div>
               
            </div>
            
        </div>
    </div>

    <!-- <div class="row">
        <div class="">

        </div>
        <div>

        </div>
    </div> -->
   
    <!-- <div class="row">
        <div class="col-12">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Backend</th>
                        <th scope="col">Frontend</th>
                        <th scope="col">BI</th>
                        <th scope="col">Tools</th>
                        <th scope="col">Add/Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let d of data">
                        <td>{{d.id}}</td>
                        <td>{{d.backend}}</td>
                        <td>{{d.frontend}}</td>
                        <td>{{d.bI}}</td>
                        <td>{{d.tools}}</td>
                        <td> <button class="btn btn-primary">Add</button> &nbsp;<button class="btn btn-danger" (click)="onDelete(d.id)">Delete</button></td>
                    </tr>
                             
                </tbody>
            </table>
        </div>
    </div> -->


   
    
</div>