
     <!-- <div [formGroup]="test">
       <label for="title">Title:</label>
        <input type="text" class="form-control" id="title" placeholder="Enter title" title="title" >
        <br> <button class="btn btn-primary" >Add Title</button>  -->
   

        <!-- <br>
        
    
    </div>   
        <br>
        <div class="form-group">  
            <div class="col-md-offset-2 col-md-4">  
                <button type="button" class="btn btn-primary" (click)="addButtonClick()">  
                    Add Other Details  
                </button>  
            </div>  
        </div> 
         </div> -->

        
        <!-- <div formArrayName="other" *ngFor="let other of fb.get('other').controls; let i = index" class="form-group">   -->
 <div class="container">       
    <br>    
    <form [formGroup]="myGroup">

        
            <div class="row">
                <div class="col-md-2 bg-secondary">Backend:</div> 
        
                <div class="form-group" class="col-md-10">
                    <input type="text" formControlName="backend" >
                </div>
            </div> 
            
            <br>
            <div class="row">
                <div class="col-md-2 bg-secondary">Frontend:</div>
        
                <div class="form-group" class="col-md-10">
                    <input type="text" formControlName="frontend" >
                </div>
            </div>  
            
            <br>
            <div class="row">
                <div class="col-md-2 bg-secondary">BI:</div>
        
                <div class="form-group" class="col-md-10">
                    <input type="text" formControlName="bi" >
                </div>
            </div> 

        <br>
        <div class="row">
            <div class="col-md-2 bg-secondary">Tools:</div>
    
            <div class="form-group" class="col-md-10">
                <input type="text" formControlName="tools" >
            </div>
        </div>

        <br>
        
        <div formArrayName="aliases">
            <h2>Aliases</h2> <button (click)="addAlias()">Add Alias</button>
            <br>
            <div *ngFor="let alias of aliases.controls; let i=index"> 
              <div class="row">   
                <div class="col-md-2 bg-secondary">Alias:</div>
                <div class="form-group" class="col-md-10">
                    <input type="text" [formControlName]="i" >
                </div>
            </div>
        </div>
        </div>
        
    </form>
    
       

    <br>
    <div class ="row"> 
        <div  class="col-md-3">  
            <select [(ngModel)]= 'techSelected' (ngModelChange)= 'onTechSelected($event)'
                    class="browser-default custom-select" >
                <option *ngFor ="let tec of techs" [ngValue] ="tec">
                     {{tec.techName}}
                </option>

            </select>    
                        
                        {{techSelected.techId}}
        </div> 
                  
        <div class="col-md-9">  
                 <input type="text"  id="new item" placeholder="new item" [(ngModel)]="techSelected.techName" > &nbsp;
                 <button class="btn btn-primary" (click)="addItem()">Add Item</button>
         </div>   
  
    </div>  
                
</div>
         
     


